$maxWidth : 960px;
$cardWidth : 100px;
$cardHeight : 130px;

$colorMain : #3498db;
$colorMainDarker : #2980b9;
$colorSecundary : #9b59b6;
$colorSecundaryDarker : #9b59b6;
.dd{
	margin-left: 30%;
	margin-bottom: -10%;
}
html, body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}
h6{
	font-family: Georgia, serif;
}
span{
	font-size: large;
}
h3
 { color: #859299; font-family: 'Helvetica Neue', sans-serif; 
	font-size: 46px; font-weight: 100; line-height: 50px; letter-spacing: 0.8px; 
	padding: 0 0 40px; }
.headc{
	margin-right: -15% !important;
	
}
.headc button{
	color: rgb(63, 63, 63);
}
 .card-panel{
	margin-top: 70% !important;
	width: 370px;
	height: 220px;
	background-color: #77B0C8 !important;
}
.headc img{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-left: 30%;
	margin-bottom: -20% !important;
	margin-top: 10%;
}

/*Gamification */
@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  background: #FCEEB5;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  left: 14%;
  width: 430px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 130px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}
.card .bleu img{
	margin-top:30% !important;
}

.card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 130px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}



/*Gamification */

body {
	background-color: #eeeeee;
	font-family: 'helvetica', sans-serif;
	font-size: 16px;
	transform: translate3d(0,0,0);
	background: linear-gradient(135deg, $colorMainDarker 0%,$colorSecundaryDarker 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
}
.ff{
	margin-right: -0.5% !important;
}
.container {
	position: relative;
	width: 100%;
	
	max-width: $maxWidth;
	min-height: 100%;
	margin: 0px auto;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.element-card {
	position: relative;
	width: $cardWidth;
	height: $cardHeight;
	transform-style: preserve-3d;
	transform: rotatey(0deg) translatex(0px) translatey(0px);
	transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
	margin: 5px;
	cursor: pointer;
	
	&:hover {
		transform: rotatey(45deg) translatex(0px) translatey(0px);
	}

	&.open {
		width: 2*$cardWidth;
		height: 2*$cardHeight;
		transform: rotatey(-180deg) translatex(0px) translatey(0px);
	}
	
	.front-facing {
		transform: rotateY( 0deg ) translateZ( 2px );
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #ecf0f1;
		border: 2px white solid;
		border-radius: 5px;
		.abr {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			font-size: 42px;
			margin: -35px 0 0 0;
			text-align: center;
			color: $colorMain;
		}
		.title {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			text-transform: uppercase;
			font-size: 12px;
			margin: 15px 0 0 0;
			text-align: center;
			color: $colorMain;
		}
		.atomic-number {
			position: absolute;
			top: 10px;
			left: 10px;
			font-size: 12px;
			color: $colorMainDarker;
		}
		.atomic-mass {
			position: absolute;
			bottom: 10px;
			right: 10px;
			font-size: 12px;
			color: $colorMainDarker;
		}
	}
	
	.back-facing {
		transform: rotateY( 180deg ) translateZ( 0px );
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #ecf0f1;
		border: 2px white solid;
		border-radius: 5px;
		padding: 20px;
		text-align: center;
		overflow: hidden;
		p {
			font-size: 14px;
			margin: 0;
		}
		a.btn {
			display: inline-block;
			background-color: white;
			padding: 5px 15px;
			margin: 20px 0 0 0;
			color: #eee;
			background-color: $colorMain;
			text-decoration: none;
			border-radius: 3px;
			&:hover, &:focus {
				color: #fff;
				background-color: $colorMainDarker;
			}
		}
	}

}
.container{
    margin-top: 5%;
}



