<div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16"
>
<div class="px-2">
    <div class="mt-10 py-10 border-t border-gray-300 text-center" style="float: right; width: 80%; height:70%;">
      <div class="flex flex-wrap justify-center">
        <div class="w-full lg:w-9/12 px-4" >
       
            <div style="float: left;">
          <p class="mb-4 text-lg leading-relaxed text-gray-800 " style="margin-left: 20px; text-align:center ; font-weight: 600; padding-bottom: 10px;">
            احتياجات اولية و استعجالية </p>
          <img
          alt="..."
          src="assets/img/urgent_donate.jpg"
          class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 " style="max-width: 70px;"
        />
    </div>
    <br>
    <p class="mb-4 text-lg text-gray-800" style="float: right;margin-top: -20px;margin-left: 13px;" >
        حملة تبرعات لقسم الاستعجالي بمستشفى سهلول سوسة و ذلك للنقص الفادح في الادوية و المعدات الاولية 
        و كذلك لتغطية الاحتياجات الاستعجالية خاصة مع تفاقم وباء كورونا 
        <br>
        الرجاء لمن يرغب المساعدة التواصل مع الجمعية المكلفة بجمع التبرعات 
    </p>
    <div>
        <button
        class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
        type="button"
      >
        <i class="fas fa-hand-holding-heart	"></i> اتبرع
      </button>
    </div>