<div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16" style="width: 70%;
  float: right;
  margin-right: 99px;"
>
  <div class="px-6">
    <div class="mt-10 py-10 border-t border-gray-300 text-center" >
      <div class="flex flex-wrap justify-center">
        <div class="w-full lg:w-9/12 px-4" >
        <div style="float: left;" >
          <p class="mb-4 text-lg leading-relaxed text-gray-800 " style="margin-left: 20px; font-weight: 600; padding-bottom: 10px;">Croissant Rouge Tunisien Comité Local de Hammam Sousse</p>
          <img
            alt="..."
            src="assets/img/croissantRH.jpg"
            class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 " style="max-width: 70px;"
          />
          </div>
          <br>
          <p class="mb-4 text-lg text-gray-800" style="float: right;margin-top: -20px;margin-left: 13px;" >
            الهيئة المحلية بحمام سوسة 2020
            شهادة مسعف ضمن فريق EPSE
            الدورة تعتقد أيام 2 و3 نوفمبر بالمدرسة الإبتدائية طريق الشاطئ من 8:30 صباحا إلى 13:00 بعد الزوال
            <br>
            الأولوية لمتطوعي الهيئة الناشطين والفاعلين
            آخر أجل للتسجيل غدا مساء 
          </p>
          <div>
          <a href="javascript:void(0);" class="font-normal text-red-600" style="float: left;
          margin-top: 5px;
          margin-left: 140px;">
            J'aime
          </a>
          <button
            class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
            type="button"
          >
            <i class="fas fa-tint"></i> Participer
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
