<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container items-center flex flex-wrap" style="margin-left: auto;">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-gray-700">
            ! نتعاونو كلنا مع بعضنا
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-gray-600">
            dons de sang, collectes,
            aidez votre hôpital local.
            <tr>
            ...قطرة منك ترد الروح
            
        </p>
        <div class="mt-12">
            <!--Lien page association-->
          <a routerLink="/auth/login"
            
            target="_blank"
            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
          >
            Association
          </a>
          <!--lien page volontaire-->
          <a
            
            class="github-star ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-gray-800 active:bg-gray-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
            target="_blank"
          >
            Volontaire
          </a>
        </div>
      </div>
    </div>
  </div>

  <img
    class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="assets/img/backg-welcome.png"
    alt="..." style="top: 105px;width: 65%;right: 20px;"
  />
</section>

<app-aboutus></app-aboutus>
<app-footer></app-footer>